@media screen and (min-width:992px) and (max-width:1300px){
  .cImage{
    height: 290px;
}
}
@media screen and (min-width:0px) and (max-width:576px) {
  .cImage{
    height: 150px;
}
}
@media screen and (min-width:576px) and (max-width:992px) {
  .cImage{
    height: 200px;
}
}